import styles from './{{properCase name}}.module.css';

function {{properCase name}}() {
  return (
    <div className={styles.container}>
      <h1>{{properCase name}} Component</h1>
    </div>
  );
}

export default {{properCase name}};