.container {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pacifico', cursive;
}

.welcome {
  font-size: 5em;
}